.btn {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    display: inline-flex;
    transition: transform 0.3s ease-in-out; /* Transici칩n suave del efecto de pulsaci칩n */
  }
  .btn i {
    margin-right: 5px;
  }
  .primary {background-color: #007bff;} 
  .primary:hover {background: #0b7dda;}
  .secondary {background-color: #e7e7e7; color: black;} 
  .secondary:hover {background: #ddd;}
  .success {background-color: #04AA6D;} 
  .success:hover {background-color: #46a049;}
  .warning {background-color: #ff9800;} 
  .warning:hover {background: #e68a00;}
  .danger {background-color: #f44336;} 
  .danger:hover {background: #da190b;}
  .practica{
    background-color: palevioletred;
  }
  .practica:hover{background-color: crimson;}
  .primary:active {
    transform: scale(0.9); /* Reduce ligeramente el tama침o del bot칩n cuando se hace clic */
  }
  